.o_main_navbar .o_user_menu .oe_topbar_name {
    color: white !important;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
}

/* Hide Discuss and Activities icons in the navbar */
.o-mail-MessagingMenu, 
.o-mail-ActivityMenu,
.o_MessagingMenu,
.o_ActivityMenu {
    display: none !important;
}