<odoo>

    <menuitem id="menu_g2p_register_household"
              name="Household Registry"
              parent="g2p_pbms.menu_g2p_registry"
              action="action_g2p_register_household"
              sequence="4"/>
    <menuitem id="menu_g2p_register_individual"
              name="Individual Registry"
              parent="g2p_pbms.menu_g2p_registry"
              action="action_g2p_register_individual"
              sequence="5"/>
</odoo>
